block me
	div#me
		div.baloon.item
			div.norm.large
				img.shade(src="img/layout/shade-310.png", alt="shade")
				img.arrow(src="img/ui/arrows/baloon-white.png", alt="arrow")
				h1 Robbie Bardijn
				p
					a(href="mailto:robbie.bardijn@gmail.com") robbie.bardijn@gmail.com
				p
					| 0032/472.79.88.63


			div.hov
				h1 Hire me...
				p
					| I’m glad to help

			div.pic.rect.item
				img.shade(src="img/layout/shade-150.png", alt="shade")
				img(src="#{grav}")
