extends layout

block content
	h1 My links on Delicious by ##{tag}
	each link in links
		a(href="#{link.u}", style="display:block;")= link.u
		p
			each tag in link.t
				span(style="color: blue;") ##{tag},&nbsp;