doctype html
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content="A website that loads in my instagrams")
    meta(name='author', content="Robbie Bardijn")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Robbie Bardijn - Front-end webdeveloper
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/modernizr.js')

    link(rel='apple-touch-icon', sizes='57x57', href='/img/icon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/icon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/icon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/img/icon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/img/icon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/icon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/icon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/icon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/icon/apple-touch-icon-180x180.png')

    link(rel='icon', type='image/png', href='/img/icon/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/img/icon/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/img/icon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/img/icon/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/img/icon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/img/icon/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor' content='#00aba9')
    meta(name='msapplication-TileImage' content='/img/icon/mstile-144x144.png')

  body
    div#bg
    include partials/header

    script(src='/js/vendor/require.js', data-main='/js/build')
    script(type='text/javascript').
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window, document, 'script', 'ga'));
      ga('create','#{ga}');ga('send','pageview');
