/* ====================================================================================================== */
/* IMPORTS */
/* ====================================================================================================== */
.socials-sprite, .socials-delicious, .socials-facebook, .socials-github, .socials-googleplus, .socials-instagram, .socials-lastfm, .socials-linkedin, .socials-menu, .socials-pinterest, .socials-skype, .socials-twitter {
  background-image: url('../img/ui/socials-s404b1b914b.png');
  background-repeat: no-repeat;
}

.socials-hover-sprite, .socials-hover-delicious, .socials-hover-facebook, .socials-hover-github, .socials-hover-googleplus, .socials-hover-instagram, .socials-hover-lastfm, .socials-hover-linkedin, .socials-hover-menu, .socials-hover-pinterest, .socials-hover-skype, .socials-hover-twitter {
  background-image: url('../img/ui/socials-hover-s22b9454489.png');
  background-repeat: no-repeat;
}

/* ====================================================================================================== */
/* VARS */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* IMPORTS */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* VARS */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* MIXINS */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* INITS & FONTS */
/* ====================================================================================================== */
.socials-delicious {
  background-position: 0 0;
}

.socials-facebook {
  background-position: 0 -55px;
}

.socials-github {
  background-position: 0 -110px;
}

.socials-googleplus {
  background-position: 0 -165px;
}

.socials-instagram {
  background-position: 0 -220px;
}

.socials-lastfm {
  background-position: 0 -275px;
}

.socials-linkedin {
  background-position: 0 -330px;
}

.socials-menu {
  background-position: 0 -385px;
}

.socials-pinterest {
  background-position: 0 -440px;
}

.socials-skype {
  background-position: 0 -495px;
}

.socials-twitter {
  background-position: 0 -550px;
}

.socials-hover-delicious {
  background-position: 0 0;
}

.socials-hover-facebook {
  background-position: 0 -55px;
}

.socials-hover-github {
  background-position: 0 -110px;
}

.socials-hover-googleplus {
  background-position: 0 -165px;
}

.socials-hover-instagram {
  background-position: 0 -220px;
}

.socials-hover-lastfm {
  background-position: 0 -275px;
}

.socials-hover-linkedin {
  background-position: 0 -330px;
}

.socials-hover-menu {
  background-position: 0 -385px;
}

.socials-hover-pinterest {
  background-position: 0 -440px;
}

.socials-hover-skype {
  background-position: 0 -495px;
}

.socials-hover-twitter {
  background-position: 0 -550px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: "chunk5";
  src: url('../font/chunkfive.eot?1390329945');
  src: url('../font/chunkfive.eot?&1390329945#iefix') format('embedded-opentype'), url('../font/chunkfive.woff?1390329945') format('woff'), url('../font/chunkfive.ttf?1390329945') format('truetype'), url('../font/chunkfive.otf') format('opentype'), url('../font/chunkfive.svg?1390329945') format('svg');
}
@font-face {
  font-family: "exl";
  src: url('../font/existence-light.eot?1390329945');
  src: url('../font/existence-light.eot?&1390329945#iefix') format('embedded-opentype'), url('../font/existence-light.woff?1390329945') format('woff'), url('../font/existence-light.ttf?1390329945') format('truetype'), url('../font/existence-light.otf') format('opentype'), url('../font/existence-light.svg?1390329945') format('svg');
}
@font-face {
  font-family: "osb";
  src: url('../font/OpenSans-Bold.eot?1390329945');
  src: url('../font/OpenSans-Bold.eot?&1390329945#iefix') format('embedded-opentype'), url('../font/OpenSans-Bold.woff?1390329945') format('woff'), url('../font/OpenSans-Bold.ttf?1390329945') format('truetype'), url('../font/OpenSans-Bold.otf') format('opentype'), url('../font/OpenSans-Bold.svg?1390329945') format('svg');
}
@font-face {
  font-family: "osl";
  src: url('../font/OpenSans-Light.eot?1390329945');
  src: url('../font/OpenSans-Light.eot?&1390329945#iefix') format('embedded-opentype'), url('../font/OpenSans-Light.woff?1390329945') format('woff'), url('../font/OpenSans-Light.ttf?1390329945') format('truetype'), url('../font/OpenSans-Light.otf') format('opentype'), url('../font/OpenSans-Light.svg?1390329945') format('svg');
}
@font-face {
  font-family: "fut";
  src: url('../font/FuturaStd-CondensedLight.eot?1390329945');
  src: url('../font/FuturaStd-CondensedLight.eot?&1390329945#iefix') format('embedded-opentype'), url('../font/FuturaStd-CondensedLight.woff?1390329945') format('woff'), url('../font/FuturaStd-CondensedLight.ttf?1390329945') format('truetype'), url('../font/FuturaStd-CondensedLight.otf?1390329945') format('opentype'), url('../font/FuturaStd-CondensedLight.svg?1390329945') format('svg');
}
@font-face {
  font-family: "futl";
  src: url('../font/FuturaStd-Light.eot?1398428054');
  src: url('../font/FuturaStd-Light.eot?&1398428054#iefix') format('embedded-opentype'), url('../font/FuturaStd-Light.woff?1398428054') format('woff'), url('../font/FuturaStd-Light.ttf?1398428054') format('truetype'), url('../font/FuturaStd-Light.otf?1398428052') format('opentype'), url('../font/FuturaStd-Light.svg?1398428054') format('svg');
}
/* ====================================================================================================== */
/* BASE */
/* ====================================================================================================== */
.largeshade, #main .large .shade {
  position: absolute;
  bottom: -16px;
  left: 0px;
  width: 100%;
}

.shade, #main .rect .shade {
  position: absolute;
  bottom: -16px;
  left: 0px;
  width: 100%;
}

.shaded, #main #me .cv, #main #me .baloon .norm, #main #me .baloon .hov, #main .work {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0px;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.menu, ol, ul {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* ====================================================================================================== */
/* LAYOUT */
/* ====================================================================================================== */
#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(#293742, #192026);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(#293742, #192026);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(#293742, #192026);
}

#subsocial {
  display: none;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(#fefdfd, #dadada);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(#fefdfd, #dadada);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(#fefdfd, #dadada);
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 1px;
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  position: absolute;
  right: 10px;
  top: -400px;
  padding: 18px 0 8px 0;
  -moz-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
  z-index: 12;
}
#subsocial.open {
  top: -5px;
}
#subsocial li {
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
}
#subsocial li.icon {
  margin: -10px 0 0 0;
  width: 55px;
  height: 55px;
}
#subsocial li.icon span a {
  display: block;
  width: 100%;
  height: 100%;
}

#subnav {
  display: none;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(#fefdfd, #dadada);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(#fefdfd, #dadada);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(#fefdfd, #dadada);
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 1px;
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  width: 105px;
  position: absolute;
  left: 10px;
  top: -150px;
  margin: 0;
  padding: 5px 0;
  z-index: 11;
}
#subnav.open {
  top: 55px;
}
#subnav li {
  list-style-type: none;
  margin: 0 7px;
  padding: 0;
}
#subnav li a {
  margin: 0;
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "exl";
  font-size: 26px;
  color: black;
  font-weight: normal;
  font-style: normal;
}

.fixed {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 10;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px 5px, rgba(0, 0, 0, 0.3) 0 1px 7px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px 5px, rgba(0, 0, 0, 0.3) 0 1px 7px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px 5px, rgba(0, 0, 0, 0.3) 0 1px 7px 0 inset;
}

nav {
  z-index: 15;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 55px;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(#fefdfd, #dadada);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(#fefdfd, #dadada);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(#fefdfd, #dadada);
}
nav ul {
  margin: 0 10px;
  padding: 0;
  list-style-type: none;
}
nav ul#nav {
  position: absolute;
  left: 0;
  top: 0;
}
nav ul#nav li {
  float: left;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #d0d0d0;
  margin: 0;
  padding: 0;
}
nav ul#nav li.menu {
  display: none;
}
nav ul#nav li:hover span.hov {
  top: 0px;
}
nav ul#nav li:hover span.nor {
  top: 55px;
}
nav ul#nav li span.hov {
  position: absolute;
  top: -56px;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(#272727, #090909);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(#272727, #090909);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(#272727, #090909);
}
nav ul#nav li span.hov a {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.8) 0 2px 1px;
}
nav ul#nav li span.nor {
  position: relative;
  top: 0px;
}
nav ul#nav li span {
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
nav ul#nav li span a {
  margin: 0;
  padding: 4px 15px 6px;
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "exl";
  font-size: 32px;
  color: black;
  font-weight: normal;
  font-style: normal;
}
nav ul#social {
  position: absolute;
  right: 0;
}
nav ul#social > li {
  float: left;
}
nav ul#social > li.footer {
  overflow: hidden;
}
nav ul#social > li.footer p {
  position: relative;
  left: 0;
  margin: 19px 15px;
  font-family: "osl";
  font-size: 13px;
  color: #203e3e;
  font-weight: normal;
  font-style: normal;
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
nav ul#social li.menu {
  display: none;
}
nav ul#social > li.icon, nav ul#social > li.menu {
  float: left;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #d0d0d0;
  width: 55px;
  height: 55px;
}
nav ul#social > li.icon:hover span.hov, nav ul#social > li.menu:hover span.hov {
  top: 0px;
}
nav ul#social > li.icon:hover span.nor, nav ul#social > li.menu:hover span.nor {
  top: 55px;
}
nav ul#social > li.icon span.hov, nav ul#social > li.menu span.hov {
  position: absolute;
  top: -55px;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(#090909, #272727);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(#090909, #272727);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(#090909, #272727);
}
nav ul#social > li.icon span.nor, nav ul#social > li.menu span.nor {
  position: relative;
  top: 0px;
}
nav ul#social > li.icon span, nav ul#social > li.menu span {
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
nav ul#social > li.icon span a, nav ul#social > li.menu span a {
  display: block;
  width: 55px;
  height: 55px;
}

#main {
  z-index: 5;
  position: relative;
  top: 55px;
  margin: 0 auto;
  -moz-transition: width 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: width 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: width 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: width 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .item {
  margin: 10px 5px 0 5px;
  float: left;
  list-style-type: none;
  position: relative;
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main #me {
  *zoom: 1;
  margin: 10px 0 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main #me:after {
  content: "";
  display: table;
  clear: both;
}
#main #me .pic {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1;
  background-color: white;
  width: 150px;
  height: 150px;
}
#main #me .pic .shade {
  bottom: -14px;
}
#main #me .cv {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 150px;
  height: 150px;
  z-index: 3;
}
#main #me .cv .shade {
  bottom: -14px;
}
#main #me .cv a {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  text-decoration: none;
  background-color: #3d3d3d;
}
#main #me .cv a:hover .linkicon {
  background: url('../img/ui/cv-link-hov.png?1398435717') top left no-repeat;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  margin: 30px auto;
}
#main #me .cv a:hover .text {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#main #me .cv a .linkicon {
  background: url('../img/ui/cv-link.png?1398435681') top left no-repeat;
  width: 69px;
  height: 61px;
  display: block;
  margin: 40px auto;
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main #me .cv a .text {
  font-family: "fut";
  font-size: 18px;
  color: #141414;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main #me .baloon {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 2;
  position: relative;
  width: 310px;
  height: 150px;
}
#main #me .baloon .norm {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 250px;
  height: 90px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(rgba(255, 255, 255, 0), #dfdfdf);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(rgba(255, 255, 255, 0), #dfdfdf);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(rgba(255, 255, 255, 0), #dfdfdf);
  background-color: white;
}
#main #me .baloon .norm .arrow {
  position: absolute;
  right: -16px;
  top: 20px;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -moz-transition: -moz-transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: -o-transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main #me .baloon .hov {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 40px 70px;
  width: 170px;
  height: 70px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url('../img/layout/pat.png?1390329945'), -moz-linear-gradient(rgba(62, 171, 233, 0), #0077bb);
  background: url('../img/layout/pat.png?1390329945'), -webkit-linear-gradient(rgba(62, 171, 233, 0), #0077bb);
  background: url('../img/layout/pat.png?1390329945'), linear-gradient(rgba(62, 171, 233, 0), #0077bb);
  background-color: #3eabe9;
}
#main #me .baloon .hov .arrow {
  position: absolute;
  right: -16px;
  top: 100px;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -moz-transition: -moz-transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: -o-transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: transform 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main #me .baloon > div h1 {
  margin: 0;
  font-family: "chunk5";
  font-size: 30px;
  color: black;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}
#main #me .baloon > div p {
  margin: 0.15em 0;
  font-family: "osl";
  font-size: 20px;
  color: black;
  font-weight: normal;
  font-style: normal;
}
#main #me .baloon > div p a {
  font-family: "futl";
  font-size: 21px;
  color: black;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-decoration: none;
}
#main #me .baloon > div p a.tel {
  font-size: 18px;
}
#main .workdetail {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
}
#main .workdetail.show {
  display: block;
}
#main .workdetail .panel {
  width: 100%;
  height: 100%;
  background-color: white;
}
#main #projects {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 1250px;
  -webkit-perspective: 1250px;
  perspective: 1250px;
  -moz-perspective-origin: 50% 50%;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
#main #projects li.inback {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transform: translate3d(0, 0, -150px);
  -webkit-transform: translate3d(0, 0, -150px);
  transform: translate3d(0, 0, -150px);
}
#main > ul, #main .wrapper {
  *zoom: 1;
  margin: 10px 0 0 0;
}
#main > ul:after, #main .wrapper:after {
  content: "";
  display: table;
  clear: both;
}
#main .wrapper {
  position: relative;
}
#main .work {
  cursor: pointer;
  position: relative;
  background-color: white;
  width: 310px;
  height: 150px;
  -moz-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#main .work:hover {
  z-index: 200;
}
#main .work:hover .inner .thumb {
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
#main .work:hover .inner .likes {
  bottom: -25px;
  left: -25px;
}
#main .work:hover .inner .insetshade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#main .work .inner {
  width: 310px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
#main .work .inner .thumb {
  position: relative;
  -moz-transition: all 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
  -o-transition: all 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
  -webkit-transition: all 5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
  margin: -25px 0 0 -25px;
}
#main .work .inner .insetshade {
  position: absolute;
  top: 0;
  left: 0;
  width: 310px;
  height: 150px;
  background: url('../img/layout/inset-shade.png?1409230930') center center no-repeat;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .work .inner .likes {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: -50px;
  left: -50px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .work .inner .likes.liked {
  background-color: white;
  bottom: -25px;
  left: -25px;
}
#main .work .inner .likes.liked .heart {
  background-position: -28px 0px;
}
#main .work .inner .likes.liked:hover {
  background-color: white;
  bottom: -25px;
  left: -25px;
}
#main .work .inner .likes.liked:hover .heart {
  background-position: -28px 0px;
}
#main .work .inner .likes:hover {
  background-color: black;
}
#main .work .inner .likes:hover .heart {
  background-position: -14px 0px;
}
#main .work .inner .likes .heart {
  margin: 5px 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 14px;
  height: 13px;
  background: url('../img/ui/heart.png?1390329945') top left no-repeat;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#main .link {
  background-color: #166362;
  width: 150px;
  height: 150px;
}
#main .link .shade {
  bottom: -14px;
}
#main .link a {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  text-decoration: none;
  font-family: "fut";
  font-size: 18px;
  color: #454545;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -moz-backface-visibility: false;
  -webkit-backface-visibility: false;
  backface-visibility: false;
}
#main .link a:hover .deliinfo {
  -moz-transform: translate(-75px, 75px) rotate(45deg);
  -ms-transform: translate(-75px, 75px) rotate(45deg);
  -webkit-transform: translate(-75px, 75px) rotate(45deg);
  transform: translate(-75px, 75px) rotate(45deg);
}
#main .link a:hover .deliicon {
  -moz-transform: translate(25px, -25px) scale(0.8);
  -ms-transform: translate(25px, -25px) scale(0.8);
  -webkit-transform: translate(25px, -25px) scale(0.8);
  transform: translate(25px, -25px) scale(0.8);
}
#main .link a .deliinfo {
  width: 213px;
  height: 208px;
  background-color: white;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 5px 0 0 0;
  margin: -31px 0 0 -31px;
  -moz-transform: translate(-160px, 160px) rotate(45deg);
  -ms-transform: translate(-160px, 160px) rotate(45deg);
  -webkit-transform: translate(-160px, 160px) rotate(45deg);
  transform: translate(-160px, 160px) rotate(45deg);
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .link a .deliicon {
  background: url('../img/ui/delicious/link.png?1398438147') top left no-repeat;
  width: 70px;
  height: 67px;
  display: block;
  margin: 40px auto;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .tweet {
  background-color: #138bd1;
  width: 150px;
  height: 150px;
}
#main .tweet .shade {
  bottom: -14px;
}
#main .tweet a {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  text-decoration: none;
  font-family: "fut";
  font-size: 18px;
  color: #454545;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .tweet a:hover {
  background-color: #0f83c6;
}
#main .tweet a:hover .tweeticon {
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  background: url('../img/ui/twitter/tweet-hov.png?1390329945') top left no-repeat;
}
#main .tweet a .tweeticon {
  background: url('../img/ui/twitter/tweet.png?1390329945') top left no-repeat;
  width: 90px;
  height: 73px;
  display: block;
  margin: 38px auto 8px;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .pic a {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#main .repo {
  cursor: pointer;
  background-color: #2383a6;
  width: 150px;
  height: 150px;
}
#main .repo .shade {
  bottom: -14px;
}
#main .repo a {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  text-decoration: none;
  font-family: "fut";
  font-size: 18px;
  color: white;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .repo a:hover .repoinfo {
  bottom: 0px;
}
#main .repo a:hover .repoicon {
  margin: 16px auto;
}
#main .repo a .repoicon {
  background: url('../img/ui/github/repo.png?1398436487') top left no-repeat;
  width: 65px;
  height: 64px;
  display: block;
  margin: 40px auto;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
}
#main .repo a .repoinfo {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -50px;
  display: block;
  background-color: white;
  line-height: 50px;
  word-break: break-all;
  -moz-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -o-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transition-delay: 0ms;
  transition: all 400ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
  color: #185971;
}
#main .repo a .repoinfo.smaller {
  font-size: 14px;
}
#main .repo a .repoinfo span {
  background: url('../img/ui/github/github-white.png?1398438015') top left no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 10px;
}

/* ====================================================================================================== */
/* MEDIA QUERIES */
/* ====================================================================================================== */
@media screen and (max-width: 320px) {
  body #main {
    margin: 0 -5px 0;
  }
}
@media screen and (max-width: 674px) {
  body nav ul#nav li.menu {
    display: block;
  }

  body #subnav {
    display: block;
  }

  body nav ul#nav li.nav {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  body #main #me .baloon .norm .arrow {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  body #main #me .baloon .hov .arrow {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}
@media screen and (max-width: 1185px) {
  body nav ul#social li.icon {
    display: none;
  }

  body #subsocial {
    display: block;
  }

  body nav ul#social li.menu {
    display: block;
  }
}
@media screen and (max-width: 1370px) {
  body nav ul#social li.footer p {
    left: 200px;
  }
}
@media screen and (min-width: 320px) {
  #main {
    width: 320px;
  }
}
@media screen and (min-width: 640px) {
  #main {
    width: 640px;
  }
}
@media screen and (min-width: 960px) {
  #main {
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  #main {
    width: 1280px;
  }
}
@media screen and (min-width: 1600px) {
  #main {
    width: 1600px;
  }
}
@media screen and (min-width: 1920px) {
  #main {
    width: 1920px;
  }
}
@media screen and (min-width: 2240px) {
  #main {
    width: 2240px;
  }
}
@media screen and (min-width: 2560px) {
  #main {
    width: 2560px;
  }
}
