/* ====================================================================================================== */
/* IMPORTS */
/* ====================================================================================================== */
/* line 114, ui/socials/*.png */
.socials-sprite, .socials-delicious, .socials-facebook, .socials-github, .socials-googleplus, .socials-instagram, .socials-lastfm, .socials-linkedin, .socials-pinterest, .socials-skype, .socials-twitter {
  background: url('../img/ui/socials-s564b1027d6.png') no-repeat; }

/* line 114, ui/socials-hover/*.png */
.socials-hover-sprite, .socials-hover-delicious, .socials-hover-facebook, .socials-hover-github, .socials-hover-googleplus, .socials-hover-instagram, .socials-hover-lastfm, .socials-hover-linkedin, .socials-hover-pinterest, .socials-hover-skype, .socials-hover-twitter {
  background: url('../img/ui/socials-hover-s814bc8b1da.png') no-repeat; }

/* ====================================================================================================== */
/* VARS */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* INITS & FONTS */
/* ====================================================================================================== */
/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-delicious {
  background-position: 0 -495px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-facebook {
  background-position: 0 -440px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-github {
  background-position: 0 -55px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-googleplus {
  background-position: 0 -220px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-instagram {
  background-position: 0 -275px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-lastfm {
  background-position: 0 -165px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-linkedin {
  background-position: 0 -385px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-pinterest {
  background-position: 0 0; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-skype {
  background-position: 0 -110px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-twitter {
  background-position: 0 -330px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-delicious {
  background-position: 0 -440px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-facebook {
  background-position: 0 -495px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-github {
  background-position: 0 -330px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-googleplus {
  background-position: 0 -165px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-instagram {
  background-position: 0 -220px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-lastfm {
  background-position: 0 -110px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-linkedin {
  background-position: 0 -385px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-pinterest {
  background-position: 0 0; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-skype {
  background-position: 0 -55px; }

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.socials-hover-twitter {
  background-position: 0 -275px; }

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* line 39, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 47, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none; }

/* line 69, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 82, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* line 88, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0; }

/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 109, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 122, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 127, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 132, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 137, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 142, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 147, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/* line 153, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 159, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 163, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 168, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic; }

/* line 173, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 180, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/* line 188, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/* line 195, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 202, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none; }

/* line 208, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 214, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%; }

/* line 220, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 227, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em; }

/* line 231, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 245, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 249, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 256, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 268, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/* line 274, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 285, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0; }

/* line 296, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0; }

/* line 301, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 310, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 323, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 333, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal; }

/* line 347, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 355, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/* line 364, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 374, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 384, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 390, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 397, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 409, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  /* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

/* line 9, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 67, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 13, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden; }

/* line 93, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
/* line 98, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both; }
/* line 104, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1; }

@font-face {
  font-family: "chunk5";
  src: url('../font/chunkfive.eot');
  src: url('../font/chunkfive.eot?#iefix') format('eot'), url('../font/chunkfive.woff') format('woff'), url('../font/chunkfive.ttf') format('truetype'), url('../font/chunkfive.otf') format('opentype'), url('../font/chunkfive.svg') format('svg'); }

@font-face {
  font-family: "exl";
  src: url('../font/existence-light.eot');
  src: url('../font/existence-light.eot?#iefix') format('eot'), url('../font/existence-light.woff') format('woff'), url('../font/existence-light.ttf') format('truetype'), url('../font/existence-light.otf') format('opentype'), url('../font/existence-light.svg') format('svg'); }

@font-face {
  font-family: "osb";
  src: url('../font/OpenSans-Bold.eot');
  src: url('../font/OpenSans-Bold.eot?#iefix') format('eot'), url('../font/OpenSans-Bold.woff') format('woff'), url('../font/OpenSans-Bold.ttf') format('truetype'), url('../font/OpenSans-Bold.otf') format('opentype'), url('../font/OpenSans-Bold.svg') format('svg'); }

@font-face {
  font-family: "osl";
  src: url('../font/OpenSans-Light.eot');
  src: url('../font/OpenSans-Light.eot?#iefix') format('eot'), url('../font/OpenSans-Light.woff') format('woff'), url('../font/OpenSans-Light.ttf') format('truetype'), url('../font/OpenSans-Light.otf') format('opentype'), url('../font/OpenSans-Light.svg') format('svg'); }

/* ====================================================================================================== */
/* MIXINS */
/* ====================================================================================================== */
/* line 59, style.sass */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* line 66, style.sass */
*:active, *:hover, *:focus {
  outline: 0 !important; }

/* line 69, style.sass */
.fontsmoothing, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* line 75, style.sass */
.largeshade, body #main .large .shade, body #main .large .rect .shade, body #main .rect .large .shade {
  position: absolute;
  bottom: -16px;
  left: 0px;
  width: 100%; }

/* line 81, style.sass */
.shade, body #main .rect .shade {
  position: absolute;
  bottom: -14px;
  left: 0px;
  width: 100%; }

/* line 87, style.sass */
.shaded, body #main #me .baloon .norm, body #main #me .baloon .hov, body #main #all li.work {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0px; }

/* ====================================================================================================== */
/* GENERAL */
/* ====================================================================================================== */
/* line 92, style.sass */
body, html {
  height: 100%; }

/* line 94, style.sass */
menu, ol, ul {
  padding: 0; }

/* line 97, style.sass */
body {
  background: url('../img/layout/pat.png?1371111257'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #293742), color-stop(100%, #192026));
  background: url('../img/layout/pat.png?1371111257'), -webkit-linear-gradient(center top, #293742, #192026);
  background: url('../img/layout/pat.png?1371111257'), -moz-linear-gradient(center top, #293742, #192026);
  background: url('../img/layout/pat.png?1371111257'), -o-linear-gradient(center top, #293742, #192026);
  background: url('../img/layout/pat.png?1371111257'), linear-gradient(center top, #293742, #192026); }
  /* line 101, style.sass */
  body nav {
    width: 100%;
    height: 55px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px 5px, rgba(0, 0, 0, 0.3) 0 1px 7px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px 5px, rgba(0, 0, 0, 0.3) 0 1px 7px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px 5px, rgba(0, 0, 0, 0.3) 0 1px 7px 0 inset;
    background: url('../img/layout/pat.png?1371111257'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefdfd), color-stop(100%, #dadada));
    background: url('../img/layout/pat.png?1371111257'), -webkit-linear-gradient(center top, #fefdfd, #dadada);
    background: url('../img/layout/pat.png?1371111257'), -moz-linear-gradient(center top, #fefdfd, #dadada);
    background: url('../img/layout/pat.png?1371111257'), -o-linear-gradient(center top, #fefdfd, #dadada);
    background: url('../img/layout/pat.png?1371111257'), linear-gradient(center top, #fefdfd, #dadada); }
    /* line 109, style.sass */
    body nav ul {
      margin: 0 10px;
      padding: 0;
      list-style-type: none; }
      /* line 114, style.sass */
      body nav ul#nav {
        position: absolute;
        left: 0;
        top: 0; }
        /* line 119, style.sass */
        body nav ul#nav li {
          float: left;
          border-left: 1px solid #fafafa;
          border-right: 1px solid #d0d0d0;
          margin: 0;
          padding: 0; }
          /* line 127, style.sass */
          body nav ul#nav li:hover span.hov {
            top: 0px; }
          /* line 129, style.sass */
          body nav ul#nav li:hover span.nor {
            top: 55px; }
          /* line 132, style.sass */
          body nav ul#nav li span.hov {
            position: absolute;
            top: -56px;
            background: url('../img/layout/pat.png?1371111257'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #272727), color-stop(100%, #090909));
            background: url('../img/layout/pat.png?1371111257'), -webkit-linear-gradient(center top, #272727, #090909);
            background: url('../img/layout/pat.png?1371111257'), -moz-linear-gradient(center top, #272727, #090909);
            background: url('../img/layout/pat.png?1371111257'), -o-linear-gradient(center top, #272727, #090909);
            background: url('../img/layout/pat.png?1371111257'), linear-gradient(center top, #272727, #090909); }
            /* line 137, style.sass */
            body nav ul#nav li span.hov a {
              color: white;
              text-shadow: rgba(0, 0, 0, 0.8) 0 2px 1px; }
          /* line 141, style.sass */
          body nav ul#nav li span.nor {
            position: relative;
            top: 0px; }
          /* line 145, style.sass */
          body nav ul#nav li span {
            -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            -webkit-transition-delay: 0ms;
            -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
            -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
            transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms; }
            /* line 148, style.sass */
            body nav ul#nav li span a {
              margin: 0;
              padding: 4px 15px 6px;
              display: block;
              color: black;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: normal;
              font-family: "exl", Arial, Helvetica;
              font-size: 32px;
              color: black; }
      /* line 157, style.sass */
      body nav ul#social {
        position: absolute;
        right: 0; }
        /* line 161, style.sass */
        body nav ul#social li {
          float: left;
          border-left: 1px solid #fafafa;
          border-right: 1px solid #d0d0d0;
          width: 55px;
          height: 55px; }
          /* line 168, style.sass */
          body nav ul#social li:hover span.hov {
            top: 0px; }
          /* line 170, style.sass */
          body nav ul#social li:hover span.nor {
            top: 55px; }
          /* line 173, style.sass */
          body nav ul#social li span.hov {
            position: absolute;
            top: -55px;
            background: url('../img/layout/pat.png?1371111257'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #090909), color-stop(100%, #272727));
            background: url('../img/layout/pat.png?1371111257'), -webkit-linear-gradient(center top, #090909, #272727);
            background: url('../img/layout/pat.png?1371111257'), -moz-linear-gradient(center top, #090909, #272727);
            background: url('../img/layout/pat.png?1371111257'), -o-linear-gradient(center top, #090909, #272727);
            background: url('../img/layout/pat.png?1371111257'), linear-gradient(center top, #090909, #272727); }
          /* line 178, style.sass */
          body nav ul#social li span.nor {
            position: relative;
            top: 0px; }
          /* line 182, style.sass */
          body nav ul#social li span {
            -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            -webkit-transition-delay: 0ms;
            -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
            -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms;
            transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000) 0ms; }
            /* line 185, style.sass */
            body nav ul#social li span a {
              display: block;
              width: 55px;
              height: 55px; }
  /* line 189, style.sass */
  body #main {
    margin: 5px 0 0 0; }
    /* line 192, style.sass */
    body #main .item {
      margin: 10px 0 0 10px;
      float: left;
      list-style-type: none;
      position: relative; }
    /* line 207, style.sass */
    body #main #me .pic {
      z-index: 1;
      background-color: white;
      width: 150px;
      height: 150px; }
    /* line 212, style.sass */
    body #main #me .baloon {
      z-index: 2;
      position: relative;
      width: 310px;
      height: 150px; }
      /* line 217, style.sass */
      body #main #me .baloon .norm {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        width: 250px;
        height: 90px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        background: url('../img/layout/pat.png?1371111257'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #dfdfdf));
        background: url('../img/layout/pat.png?1371111257'), -webkit-linear-gradient(center top, rgba(255, 255, 255, 0), #dfdfdf);
        background: url('../img/layout/pat.png?1371111257'), -moz-linear-gradient(center top, rgba(255, 255, 255, 0), #dfdfdf);
        background: url('../img/layout/pat.png?1371111257'), -o-linear-gradient(center top, rgba(255, 255, 255, 0), #dfdfdf);
        background: url('../img/layout/pat.png?1371111257'), linear-gradient(center top, rgba(255, 255, 255, 0), #dfdfdf);
        background-color: white; }
        /* line 229, style.sass */
        body #main #me .baloon .norm .arrow {
          position: absolute;
          right: -16px;
          top: 20px; }
      /* line 234, style.sass */
      body #main #me .baloon .hov {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 70px;
        width: 170px;
        height: 70px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        background: url('../img/layout/pat.png?1371111257'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(62, 171, 233, 0)), color-stop(100%, #0077bb));
        background: url('../img/layout/pat.png?1371111257'), -webkit-linear-gradient(center top, rgba(62, 171, 233, 0), #0077bb);
        background: url('../img/layout/pat.png?1371111257'), -moz-linear-gradient(center top, rgba(62, 171, 233, 0), #0077bb);
        background: url('../img/layout/pat.png?1371111257'), -o-linear-gradient(center top, rgba(62, 171, 233, 0), #0077bb);
        background: url('../img/layout/pat.png?1371111257'), linear-gradient(center top, rgba(62, 171, 233, 0), #0077bb);
        background-color: #3eabe9; }
        /* line 248, style.sass */
        body #main #me .baloon .hov .arrow {
          position: absolute;
          right: -16px;
          top: 100px; }
      /* line 254, style.sass */
      body #main #me .baloon > div h1 {
        margin: 0;
        font-weight: normal;
        font-family: "chunk5", Arial, Helvetica;
        font-size: 30px;
        color: black;
        line-height: 1em; }
      /* line 259, style.sass */
      body #main #me .baloon > div p {
        margin: 0.15em 0;
        font-weight: normal;
        font-family: "osl", Arial, Helvetica;
        font-size: 20px;
        color: black; }
        /* line 263, style.sass */
        body #main #me .baloon > div p a {
          color: black;
          text-decoration: none; }
    /* line 268, style.sass */
    body #main #all li .shade, body #main #all li .rect .shade, body #main .rect #all li .shade {
      bottom: -16px; }
    /* line 271, style.sass */
    body #main #all li.work {
      cursor: pointer;
      position: relative;
      background-color: white;
      width: 310px;
      height: 150px; }
      /* line 278, style.sass */
      body #main #all li.work .inner {
        width: 310px;
        height: 150px;
        overflow: hidden; }
        /* line 282, style.sass */
        body #main #all li.work .inner .thumb {
          position: relative;
          left: -25px;
          top: -25px; }
      /* line 287, style.sass */
      body #main #all li.work .insetshade {
        position: absolute;
        top: 0;
        left: 0;
        width: 310px;
        height: 150px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px 20px inset;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px 20px inset;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px 20px inset; }
    /* line 294, style.sass */
    body #main #all li.repo {
      background-color: white;
      width: 150px;
      height: 150px; }
      /* line 297, style.sass */
      body #main #all li.repo a {
        width: 150px;
        height: 150px; }

/* ====================================================================================================== */
/* PAGES */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* IE & FALLBACKS */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* GENERIC */
/* ====================================================================================================== */
