/* ====================================================================================================== */
/* IMPORTS
/* ====================================================================================================== */
@import "h5bp"
@import "ceaser-easing"
@import "compass/css3/"
@import "compass/typography/"
@import "compass/utilities/"

/* ====================================================================================================== */
/* VARS
/* ====================================================================================================== */

/* ====================================================================================================== */
/* INITS & FONTS
/* ====================================================================================================== */
+h5bp-normalize
+h5bp-helpers

// +font-face("NAME", font-files("FILENAME.woff","FILENAME.ttf","FILENAME.otf","FILENAME.svg"),"FILENAME.eot")

/* ====================================================================================================== */
/* MIXINS
/* ====================================================================================================== */

.unselectable
	-moz-user-select: -moz-none
	-khtml-user-select: none
	-webkit-user-select: none
	-o-user-select: none
	user-select: none

*:active, *:hover, *:focus
	outline: 0 !important

.fontsmoothing
	-webkit-font-smoothing: antialiased
	-moz-font-smoothing: antialiased
	-ms-font-smoothing: antialiased
	font-smoothing: antialiased

/* ====================================================================================================== */
/* GENERAL
/* ====================================================================================================== */
body
	@extend .fontsmoothing


/* ====================================================================================================== */
/* PAGES
/* ====================================================================================================== */

/* ====================================================================================================== */
/* IE & FALLBACKS
/* ====================================================================================================== */

/* ====================================================================================================== */
/* GENERIC
/* ====================================================================================================== */