a.prev(href="#")
  i
a.next(href="#")
  i
a.close(href="#")
  i

div.panel
  div.gallery
    div.media
    div.indic
    a(class="tags" href="#")
    a(class="like" href="#")= model.likes + " likes"

  aside
    header
      h3= model.name
      h4
        strong Client:
        span= model.client
      h4
        strong Type:
        span= model.type

    != model.description

    div.actions
      a(class="visitsite" href="#") Visite Website
      a(class="like" href="#") Like
