img.shade(src="img/layout/shade-310.png", alt="shade")
div.inner
  img.thumb(src="img/projects/thumbs/#{model.media.thumb}", alt="thumb")
  div.insetshade
  div.likes.normal
    a(href="#",class="heart")
