div.prev
  a(class="prev" href="#")
div.next
  a(class="next" href="#")
div.close
  a(class="close" href="#")

div.panel
  div.gallery
    div.media
    div.indic
    a(class="tags" href="#")
    a(class="like" href="#")= model.likes + " likes"

  aside
    header
      h3= model.name
      h4
        strong Client:
        span= model.client
      h4
        strong Type:
        span= model.type_id

    != model.description

    a(class="visitsite" href="#")
    a(class="like" href="#")
