li.repo.rect.item
  img.shade(src="img/layout/shade-150.png", alt="shade")
  a(href=repo.html_url, target="_blank")
    span.repoicon
    span.githubicon
    span.repoinfo
      span
      = repo.name
