li.tweet.rect.item
  img.shade(src="img/layout/shade-150.png", alt="shade")
  a(href="http://twitter.com/robbiebardijn/status/#{tweet.id_str}", target="_blank")
    span.tweeticon
    span.visuallyhidden=tweet.text
